.cart {
  width: 100%;
  max-width: 330px;
  background-color: #292929;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%, 0);
  transition: all 400ms ease;
}

.cart-items {
  flex-grow: 1;
  overflow: auto;
}

.cart-resume {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 35px 0 15px;
  border-top: 1px solid #474747bd;
  color: whitesmoke;
}

.cart-items .cart-item:last-child {
  border-bottom: none;
}

.cart--active {
  transform: translate(0, 0);
}
.total-price {
  color: white;
  position: relative;
  display: flex;
  padding-top: 10px;
  border-bottom: none;
  padding-bottom: 5px;
}

.finalizar-compra {
  display: flex;
  justify-content: center;
  background-color: #0000000a;
  text-decoration: none;
  border-radius: 10px;
  border-style: double;
  border-color: #484848;
  width: 100%;
  color: #b0b0b0;
  font-size: 17px;
  padding: 20px;
  cursor: pointer;
}
