.cart-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
}

.cart-item-image {
  width: 70px;
  border-radius: 6px;
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}

.cart-item-price {
  font-size: 15px;
  font-weight: 500;
  color: green;
}

.cart-item-content {
  padding: 5px 35px 0 10px;
}

.button-remove-item {
  position: absolute;
  top: 0;
  right: 0;
  color: #bb1515;
  font-size: 1.1rem;
  border: none;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  padding-top: 3px;
  padding-right: 3px;
}